In [1]:
#adding dependencies
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import requests
import pandas as pd

In [2]:
#spilinter below

executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324
[WDM] - Driver [/Users/sherinm/.wdm/drivers/chromedriver/mac64/88.0.4324.96/chromedriver] found in cache

In [3]:
#adding url 

#DATASOURCE CREDIT: Worldmeters.info

url = 'https://www.worldometers.info/coronavirus/ '

browser.visit(url)

In [4]:
#html object 
html = browser.html

#boutifulsoup
soup = BeautifulSoup(html, 'html.parser')

In [5]:
#scrape
table = soup.find('table', attrs= {"class" : "table table-bordered table-hover main_table_countries dataTable no-footer"})
print(table)
table_ro = table.find_all('tr')
print(table_ro)

x = []

for tr in table_ro:
    
    td = tr.find_all('td')
    row = [tr.text for tr in td]
    x.append(row)

<table class="table table-bordered table-hover main_table_countries dataTable no-footer" id="main_table_countries_today" style="width: 100%; margin-top: 0px !important;">
<thead>
<tr role="row"><th aria-label="#" class="sorting_disabled" colspan="1" rowspan="1" style="width: 21px;" width="1%">#</th><th aria-controls="main_table_countries_today" aria-label="Country,Other: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 100px;" tabindex="0" width="100">Country,<br/>Other</th><th aria-controls="main_table_countries_today" aria-label="TotalCases: activate to sort column ascending" aria-sort="descending" class="sorting_desc" colspan="1" rowspan="1" style="width: 64px;" tabindex="0" width="20">Total<br/>Cases</th><th aria-controls="main_table_countries_today" aria-label="NewCases: activate to sort column descending" class="sorting" colspan="1" rowspan="1" style="width: 44px;" tabindex="0" width="30">New<br/>Cases</th><th aria-controls="main_table_countries_today" aria-label="TotalDeaths: activate to sort column descending" class="sorting" colspan="1" rowspan="1" style="width: 47px;" tabindex="0" width="30">Total<br/>Deaths</th><th aria-controls="main_table_countries_today" aria-label="NewDeaths: activate to sort column descending" class="sorting" colspan="1" rowspan="1" style="width: 47px;" tabindex="0" width="30">New<br/>Deaths</th><th aria-controls="main_table_countries_today" aria-label="TotalRecovered: activate to sort column descending" class="sorting" colspan="1" rowspan="1" style="width: 72px;" tabindex="0" width="30">Total<br/>Recovered</th><th aria-controls="main_table_countries_today" aria-label="ActiveCases: activate to sort column descending" class="sorting" colspan="1" rowspan="1" style="width: 56px;" tabindex="0" width="30">Active<br/>Cases</th><th aria-controls="main_table_countries_today" aria-label="Serious,Critical: activate to sort column descending" class="sorting" colspan="1" rowspan="1" style="width: 56px;" tabindex="0" width="30">Serious,<br/>Critical</th><th aria-controls="main_table_countries_today" aria-label="Tot&amp;nbsp;Cases/1M pop: activate to sort column descending" class="sorting" colspan="1" rowspan="1" style="width: 70px;" tabindex="0" width="30">TotÂ Cases/<br/>1M pop</th><th aria-controls="main_table_countries_today" aria-label="Deaths/1M pop: activate to sort column descending" class="sorting" colspan="1" rowspan="1" style="width: 51px;" tabindex="0" width="30">Deaths/<br/>1M pop</th><th aria-controls="main_table_countries_today" aria-label="TotalTests: activate to sort column descending" class="sorting" colspan="1" rowspan="1" style="width: 65px;" tabindex="0" width="30">Total<br/>Tests</th><th aria-controls="main_table_countries_today" aria-label="Tests/
1M pop
: activate to sort column descending" class="sorting" colspan="1" rowspan="1" style="width: 49px;" tabindex="0" width="30">Tests/<br/>
<nobr>1M pop</nobr>
</th><th aria-controls="main_table_countries_today" aria-label="Population: activate to sort column descending" class="sorting" colspan="1" rowspan="1" style="width: 78px;" tabindex="0" width="30">Population</th><th aria-controls="main_table_countries_today" aria-label="Continent: activate to sort column descending" class="sorting" colspan="1" rowspan="1" style="display: none; width: 0px;" tabindex="0" width="30">Continent</th></tr>
</thead>
<tbody>
<tr class="total_row_world odd" role="row">
<td></td>
<td style="text-align:left;">World</td>
<td class="sorting_1">115,276,591</td>
<td>+354,582</td>
<td>2,559,030</td>
<td>+8,983</td>
<td>91,082,983</td>
<td>21,634,578</td>
<td>90,700</td>
<td>14,789</td>
<td>328.3</td>
<td></td>
<td></td>
<td></td>
<td data-continent="all" style="display:none">All</td>
</tr><tr class="total_row_world row_continent even" data-continent="Europe" role="row" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Europe</nobr>
</td>
<td class="sorting_1">34,316,143</td>
<td>+132,498</td>
<td>819,491</td>
<td>+3,391</td>
<td>24,020,135</td>
<td>9,476,517</td>
<td>25,648</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Europe" style="display:none;">Europe</td>
</tr><tr class="total_row_world row_continent odd" data-continent="North America" role="row" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>North America</nobr>
</td>
<td class="sorting_1">33,692,709</td>
<td>+62,024</td>
<td>763,775</td>
<td>+2,352</td>
<td>23,476,369</td>
<td>9,452,565</td>
<td>21,672</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="North America" style="display:none;">North America</td>
</tr><tr class="even" role="row" style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">1</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>
<td class="sorting_1" style="font-weight: bold; text-align:right">29,367,620</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+53,805</td>
<td style="font-weight: bold; text-align:right;">529,049 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+1,821</td>
<td style="font-weight: bold; text-align:right">19,896,860</td>
<td style="text-align:right;font-weight:bold;">8,941,711</td>
<td style="font-weight: bold; text-align:right">15,164</td>
<td style="font-weight: bold; text-align:right">88,377</td>
<td style="font-weight: bold; text-align:right">1,592</td>
<td style="font-weight: bold; text-align:right">361,771,613</td>
<td style="font-weight: bold; text-align:right">1,088,693</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/us-population/">332,299,143</a> </td>
<td data-continent="North America" style="display:none">North America</td>
</tr><tr class="total_row_world row_continent odd" data-continent="Asia" role="row" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Asia</nobr>
</td>
<td class="sorting_1">25,150,613</td>
<td>+76,916</td>
<td>399,853</td>
<td>+835</td>
<td>23,636,050</td>
<td>1,114,710</td>
<td>21,909</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Asia" style="display:none;">Asia</td>
</tr><tr class="total_row_world row_continent even" data-continent="South America" role="row" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>South America</nobr>
</td>
<td class="sorting_1">18,122,549</td>
<td>+74,781</td>
<td>470,249</td>
<td>+2,032</td>
<td>16,410,947</td>
<td>1,241,353</td>
<td>18,969</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="South America" style="display:none;">South America</td>
</tr><tr class="odd" role="row" style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">2</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/india/">India</a></td>
<td class="sorting_1" style="font-weight: bold; text-align:right">11,139,323</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+15,704</td>
<td style="font-weight: bold; text-align:right;">157,385 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+110</td>
<td style="font-weight: bold; text-align:right">10,810,162</td>
<td style="text-align:right;font-weight:bold;">171,776</td>
<td style="font-weight: bold; text-align:right">8,944</td>
<td style="font-weight: bold; text-align:right">8,019</td>
<td style="font-weight: bold; text-align:right">113</td>
<td style="font-weight: bold; text-align:right">217,618,057</td>
<td style="font-weight: bold; text-align:right">156,667</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/india-population/">1,389,049,380</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
</tr><tr class="even" role="row" style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">3</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/brazil/">Brazil</a></td>
<td class="sorting_1" style="font-weight: bold; text-align:right">10,647,845</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+58,237</td>
<td style="font-weight: bold; text-align:right;">257,562 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+1,726</td>
<td style="font-weight: bold; text-align:right">9,527,173</td>
<td style="text-align:right;font-weight:bold;">863,110</td>
<td style="font-weight: bold; text-align:right">8,318</td>
<td style="font-weight: bold; text-align:right">49,857</td>
<td style="font-weight: bold; text-align:right">1,206</td>
<td style="font-weight: bold; text-align:right">28,600,000</td>
<td style="font-weight: bold; text-align:right">133,915</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/brazil-population/">213,568,068</a> </td>
<td data-continent="South America" style="display:none">South America</td>
</tr><tr class="odd" role="row" style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">4</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/russia/">Russia</a></td>
<td class="sorting_1" style="font-weight: bold; text-align:right">4,268,215</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+10,565</td>
<td style="font-weight: bold; text-align:right;">86,896 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+441</td>
<td style="font-weight: bold; text-align:right">3,838,040</td>
<td style="text-align:right;font-weight:bold;">343,279</td>
<td style="font-weight: bold; text-align:right">2,300</td>
<td style="font-weight: bold; text-align:right">29,239</td>
<td style="font-weight: bold; text-align:right">595</td>
<td style="font-weight: bold; text-align:right">111,500,000</td>
<td style="font-weight: bold; text-align:right">763,822</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/russia-population/">145,976,365</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
</tr><tr class="even" role="row" style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">5</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/uk/">UK</a></td>
<td class="sorting_1" style="font-weight: bold; text-align:right">4,188,400</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+6,391</td>
<td style="font-weight: bold; text-align:right;">123,296 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+343</td>
<td style="font-weight: bold; text-align:right">3,005,720</td>
<td style="text-align:right;font-weight:bold;">1,059,384</td>
<td style="font-weight: bold; text-align:right">1,806</td>
<td style="font-weight: bold; text-align:right">61,482</td>
<td style="font-weight: bold; text-align:right">1,810</td>
<td style="font-weight: bold; text-align:right">91,520,691</td>
<td style="font-weight: bold; text-align:right">1,343,437</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/uk-population/">68,124,277</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
</tr><tr class="total_row_world row_continent odd" data-continent="Africa" role="row" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Africa</nobr>
</td>
<td class="sorting_1">3,942,541</td>
<td>+8,333</td>
<td>104,556</td>
<td>+372</td>
<td>3,504,483</td>
<td>333,502</td>
<td>2,500</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Africa" style="display:none;">Africa</td>
</tr><tr class="even" role="row" style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">6</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/france/">France</a></td>
<td class="sorting_1" style="font-weight: bold; text-align:right">3,783,528</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+22,857</td>
<td style="font-weight: bold; text-align:right;">87,220 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+330</td>
<td style="font-weight: bold; text-align:right">259,893</td>
<td style="text-align:right;font-weight:bold;">3,436,415</td>
<td style="font-weight: bold; text-align:right">3,586</td>
<td style="font-weight: bold; text-align:right">57,879</td>
<td style="font-weight: bold; text-align:right">1,334</td>
<td style="font-weight: bold; text-align:right">53,496,344</td>
<td style="font-weight: bold; text-align:right">818,360</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/france-population/">65,370,152</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
</tr><tr class="odd" role="row" style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">7</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/spain/">Spain</a></td>
<td class="sorting_1" style="font-weight: bold; text-align:right">3,130,184</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+6,484</td>
<td style="font-weight: bold; text-align:right;">69,801 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+192</td>
<td style="font-weight: bold; text-align:right">2,722,304</td>
<td style="text-align:right;font-weight:bold;">338,079</td>
<td style="font-weight: bold; text-align:right">2,796</td>
<td style="font-weight: bold; text-align:right">66,932</td>
<td style="font-weight: bold; text-align:right">1,493</td>
<td style="font-weight: bold; text-align:right">39,313,189</td>
<td style="font-weight: bold; text-align:right">840,620</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/spain-population/">46,766,905</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
</tr><tr class="even" role="row" style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">8</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/italy/">Italy</a></td>
<td class="sorting_1" style="font-weight: bold; text-align:right">2,955,434</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+17,083</td>
<td style="font-weight: bold; text-align:right;">98,288 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+343</td>
<td style="font-weight: bold; text-align:right">2,426,150</td>
<td style="text-align:right;font-weight:bold;">430,996</td>
<td style="font-weight: bold; text-align:right">2,327</td>
<td style="font-weight: bold; text-align:right">48,929</td>
<td style="font-weight: bold; text-align:right">1,627</td>
<td style="font-weight: bold; text-align:right">40,639,503</td>
<td style="font-weight: bold; text-align:right">672,814</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/italy-population/">60,402,241</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
</tr><tr class="odd" role="row" style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">9</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/turkey/">Turkey</a></td>
<td class="sorting_1" style="font-weight: bold; text-align:right">2,723,316</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+11,837</td>
<td style="font-weight: bold; text-align:right;">28,706 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+68</td>
<td style="font-weight: bold; text-align:right">2,586,073</td>
<td style="text-align:right;font-weight:bold;">108,537</td>
<td style="font-weight: bold; text-align:right">1,227</td>
<td style="font-weight: bold; text-align:right">32,060</td>
<td style="font-weight: bold; text-align:right">338</td>
<td style="font-weight: bold; text-align:right">33,440,843</td>
<td style="font-weight: bold; text-align:right">393,682</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/turkey-population/">84,943,797</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
</tr><tr class="even" role="row" style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">10</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/germany/">Germany</a></td>
<td class="sorting_1" style="font-weight: bold; text-align:right">2,462,054</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+6,485</td>
<td style="font-weight: bold; text-align:right;">71,325 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+401</td>
<td style="font-weight: bold; text-align:right">2,264,600</td>
<td style="text-align:right;font-weight:bold;">126,129</td>
<td style="font-weight: bold; text-align:right">2,848</td>
<td style="font-weight: bold; text-align:right">29,323</td>
<td style="font-weight: bold; text-align:right">849</td>
<td style="font-weight: bold; text-align:right">43,950,029</td>
<td style="font-weight: bold; text-align:right">523,444</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/germany-population/">83,963,113</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
</tr><tr class="odd" role="row" style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">11</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/colombia/">Colombia</a></td>
<td class="sorting_1" style="font-weight: bold; text-align:right">2,259,599</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+4,339</td>
<td style="font-weight: bold; text-align:right;">59,972 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+106</td>
<td style="font-weight: bold; text-align:right">2,156,057</td>
<td style="text-align:right;font-weight:bold;">43,570</td>
<td style="font-weight: bold; text-align:right">2,240</td>
<td style="font-weight: bold; text-align:right">44,095</td>
<td style="font-weight: bold; text-align:right">1,170</td>
<td style="font-weight: bold; text-align:right">11,528,886</td>
<td style="font-weight: bold; text-align:right">224,979</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/colombia-population/">51,244,298</a> </td>
<td data-continent="South America" style="display:none">South America</td>
</tr><tr class="even" role="row" style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">12</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/argentina/">Argentina</a></td>
<td class="sorting_1" style="font-weight: bold; text-align:right">2,118,676</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+6,653</td>
<td style="font-weight: bold; text-align:right;">52,192 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+115</td>
<td style="font-weight: bold; text-align:right">1,916,936</td>

In [6]:
corono_df = pd.DataFrame(x[1:], columns = ['#', 'Country,Other', 'TotalCases', 'NewCases', 'TotalDeaths',
       'NewDeaths', 'TotalRecovered', 'ActiveCases', 'Serious,Critical',
       'Tot Cases/1M pop', 'Deaths/1M pop', 'TotalTests', 'Tests/\n1M pop\n',
       'Population', 'Continent', 'A', 'B', 'C', 'D'])
corono_df.head(10)

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/\n1M pop\n,Population,Continent,A,B,C,D
0,,World,"115,276,591","+354,582","2,559,030","+8,983","91,082,983","21,634,578","90,700","14,789",328.3,,,,All,None,None,None,None
1,,\nEurope\n,"34,316,143","+132,498","819,491","+3,391","24,020,135","9,476,517","25,648",,,,,,Europe,None,None,None,None
2,,\nNorth America\n,"33,692,709","+62,024","763,775","+2,352","23,476,369","9,452,565","21,672",,,,,,North America,None,None,None,None
3,1,USA,"29,367,620","+53,805","529,049","+1,821","19,896,860","8,941,711","15,164","88,377","1,592","361,771,613","1,088,693","332,299,143",North America,None,None,None,None
4,,\nAsia\n,"25,150,613","+76,916","399,853",+835,"23,636,050","1,114,710","21,909",,,,,,Asia,None,None,None,None
5,,\nSouth America\n,"18,122,549","+74,781","470,249","+2,032","16,410,947","1,241,353","18,969",,,,,,South America,None,None,None,None
6,2,India,"11,139,323","+15,704","157,385",+110,"10,810,162","171,776","8,944","8,019",113,"217,618,057","156,667","1,389,049,380",Asia,None,None,None,None
7,3,Brazil,"10,647,845","+58,237","257,562","+1,726","9,527,173","863,110","8,318","49,857","1,206","28,600,000","133,915","213,568,068",South America,None,None,None,None
8,4,Russia,"4,268,215","+10,565","86,896",+441,"3,838,040","343,279","2,300","29,239",595,"111,500,000","763,822","145,976,365",Europe,None,None,None,None
9,5,UK,"4,188,400","+6,391","123,296",+343,"3,005,720","1,059,384","1,806","61,482","1,810","91,520,691","1,343,437","68,124,277",Europe,None,None,None,None

In [7]:
#removing "n"
new_corona_df = corono_df.replace('\n', '', regex = True)
new_corona_df

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/\n1M pop\n,Population,Continent,A,B,C,D
0,,World,"115,276,591","+354,582","2,559,030","+8,983","91,082,983","21,634,578","90,700","14,789",328.3,,,,All,None,None,None,None
1,,Europe,"34,316,143","+132,498","819,491","+3,391","24,020,135","9,476,517","25,648",,,,,,Europe,None,None,None,None
2,,North America,"33,692,709","+62,024","763,775","+2,352","23,476,369","9,452,565","21,672",,,,,,North America,None,None,None,None
3,1,USA,"29,367,620","+53,805","529,049","+1,821","19,896,860","8,941,711","15,164","88,377","1,592","361,771,613","1,088,693","332,299,143",North America,None,None,None,None
4,,Asia,"25,150,613","+76,916","399,853",+835,"23,636,050","1,114,710","21,909",,,,,,Asia,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232,,Total:,"34,316,143","+132,498","819,491","+3,391","24,020,135","+115,976","9,476,517","25,648",,,,,,Europe,,,
233,,Total:,"3,942,541","+8,333","104,556",+372,"3,504,483","+12,289","333,502","2,500",,,,,,Africa,,,
234,,Total:,"51,315",+30,"1,091",+1,"34,293",+7,"15,931",2,,,,,,Australia/Oceania,,,
235,,Total:,721,,15,,706,,0,0,,,,,,,,,
236,,Total:,"115,276,591","+354,582","2,559,030","+8,983","91,082,983","+368,414","21,634,578","90,700","14,788.9",328.3,,,,All,,,

In [8]:
#checking to see the last part of dataset
new_corona_df.tail(10)

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/\n1M pop\n,Population,Continent,A,B,C,D
227,220,Micronesia,1,,,,1,0,,9,,,,"115,827",Australia/Oceania,None,None,None,None
228,221,Vanuatu,1,,,,1,0,,3,,470,"1,507","311,896",Australia/Oceania,None,None,None,None
229,,Total:,"33,692,709","+62,024","763,775","+2,352","23,476,369","+92,004","9,452,565","21,672",,,,,,North America,,,
230,,Total:,"25,150,613","+76,916","399,853",+835,"23,636,050","+62,183","1,114,710","21,909",,,,,,Asia,,,
231,,Total:,"18,122,549","+74,781","470,249","+2,032","16,410,947","+85,955","1,241,353","18,969",,,,,,South America,,,
232,,Total:,"34,316,143","+132,498","819,491","+3,391","24,020,135","+115,976","9,476,517","25,648",,,,,,Europe,,,
233,,Total:,"3,942,541","+8,333","104,556",+372,"3,504,483","+12,289","333,502","2,500",,,,,,Africa,,,
234,,Total:,"51,315",+30,"1,091",+1,"34,293",+7,"15,931",2,,,,,,Australia/Oceania,,,
235,,Total:,721,,15,,706,,0,0,,,,,,,,,
236,,Total:,"115,276,591","+354,582","2,559,030","+8,983","91,082,983","+368,414","21,634,578","90,700","14,788.9",328.3,,,,All,,,

In [9]:
#dropping columns that are unecessary

my_list = ['Country,Other', 'TotalCases', 'NewCases', 'TotalDeaths',
       'NewDeaths', 'TotalRecovered', 'ActiveCases', 'Serious,Critical',
       'Tot Cases/1M pop', 'Deaths/1M pop', 'TotalTests', 'Tests/\n1M pop\n',
       'Population', 'Continent']
#reindexing
dropping_df = new_corona_df.reindex(columns = my_list)
#display
dropping_df.head(10)

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/\n1M pop\n,Population,Continent
0,World,"115,276,591","+354,582","2,559,030","+8,983","91,082,983","21,634,578","90,700","14,789",328.3,,,,All
1,Europe,"34,316,143","+132,498","819,491","+3,391","24,020,135","9,476,517","25,648",,,,,,Europe
2,North America,"33,692,709","+62,024","763,775","+2,352","23,476,369","9,452,565","21,672",,,,,,North America
3,USA,"29,367,620","+53,805","529,049","+1,821","19,896,860","8,941,711","15,164","88,377","1,592","361,771,613","1,088,693","332,299,143",North America
4,Asia,"25,150,613","+76,916","399,853",+835,"23,636,050","1,114,710","21,909",,,,,,Asia
5,South America,"18,122,549","+74,781","470,249","+2,032","16,410,947","1,241,353","18,969",,,,,,South America
6,India,"11,139,323","+15,704","157,385",+110,"10,810,162","171,776","8,944","8,019",113,"217,618,057","156,667","1,389,049,380",Asia
7,Brazil,"10,647,845","+58,237","257,562","+1,726","9,527,173","863,110","8,318","49,857","1,206","28,600,000","133,915","213,568,068",South America
8,Russia,"4,268,215","+10,565","86,896",+441,"3,838,040","343,279","2,300","29,239",595,"111,500,000","763,822","145,976,365",Europe
9,UK,"4,188,400","+6,391","123,296",+343,"3,005,720","1,059,384","1,806","61,482","1,810","91,520,691","1,343,437","68,124,277",Europe

In [10]:
#dropping rows 
#only including countries for final dataset
#taking out the continents.

##inplace = True to update df


dropping_df.drop(dropping_df.index[[0,1, 2, 4, 5, 229, 230, 231, 232, 233, 234, 235, 236]], inplace = True)

In [11]:
#displaying final df

dropping_df

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/\n1M pop\n,Population,Continent
3,USA,"29,367,620","+53,805","529,049","+1,821","19,896,860","8,941,711","15,164","88,377","1,592","361,771,613","1,088,693","332,299,143",North America
6,India,"11,139,323","+15,704","157,385",+110,"10,810,162","171,776","8,944","8,019",113,"217,618,057","156,667","1,389,049,380",Asia
7,Brazil,"10,647,845","+58,237","257,562","+1,726","9,527,173","863,110","8,318","49,857","1,206","28,600,000","133,915","213,568,068",South America
8,Russia,"4,268,215","+10,565","86,896",+441,"3,838,040","343,279","2,300","29,239",595,"111,500,000","763,822","145,976,365",Europe
9,UK,"4,188,400","+6,391","123,296",+343,"3,005,720","1,059,384","1,806","61,482","1,810","91,520,691","1,343,437","68,124,277",Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,Wallis and Futuna,9,,,,7,2,,810,,"1,202","108,230","11,106",Australia/Oceania
225,Marshall Islands,4,,,,4,0,,67,,,,"59,457",Australia/Oceania
226,Samoa,3,,,,2,1,,15,,,,"199,294",Australia/Oceania
227,Micronesia,1,,,,1,0,,9,,,,"115,827",Australia/Oceania
228,Vanuatu,1,,,,1,0,,3,,470,"1,507","311,896",Australia/Oceania

In [12]:
#reset index 
dropping_df.reset_index(drop= True, inplace =True)
dropping_df

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/\n1M pop\n,Population,Continent
0,USA,"29,367,620","+53,805","529,049","+1,821","19,896,860","8,941,711","15,164","88,377","1,592","361,771,613","1,088,693","332,299,143",North America
1,India,"11,139,323","+15,704","157,385",+110,"10,810,162","171,776","8,944","8,019",113,"217,618,057","156,667","1,389,049,380",Asia
2,Brazil,"10,647,845","+58,237","257,562","+1,726","9,527,173","863,110","8,318","49,857","1,206","28,600,000","133,915","213,568,068",South America
3,Russia,"4,268,215","+10,565","86,896",+441,"3,838,040","343,279","2,300","29,239",595,"111,500,000","763,822","145,976,365",Europe
4,UK,"4,188,400","+6,391","123,296",+343,"3,005,720","1,059,384","1,806","61,482","1,810","91,520,691","1,343,437","68,124,277",Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,Wallis and Futuna,9,,,,7,2,,810,,"1,202","108,230","11,106",Australia/Oceania
220,Marshall Islands,4,,,,4,0,,67,,,,"59,457",Australia/Oceania
221,Samoa,3,,,,2,1,,15,,,,"199,294",Australia/Oceania
222,Micronesia,1,,,,1,0,,9,,,,"115,827",Australia/Oceania
223,Vanuatu,1,,,,1,0,,3,,470,"1,507","311,896",Australia/Oceania

In [13]:
#to csv for data analysis

dropping_df.to_csv("Resources/covid_data.csv")

In [14]:
#Check tableau link