In [1]:
#adding dependencies
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import requests
import pandas as pd

In [2]:
#spilinter below

executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324
[WDM] - Driver [/Users/sherinm/.wdm/drivers/chromedriver/mac64/88.0.4324.96/chromedriver] found in cache

In [3]:
#adding url 

#DATASOURCE CREDIT: Worldmeters.info

url = 'https://www.worldometers.info/coronavirus/ '

browser.visit(url)

In [4]:
#html object 
html = browser.html

#boutifulsoup
soup = BeautifulSoup(html, 'html.parser')

In [5]:
table = soup.find('table', attrs= {"class" : "table table-bordered table-hover main_table_countries dataTable no-footer"})
print(table)
table_ro = table.find_all('tr')
print(table_ro)

x = []

for tr in table_ro:
    
    td = tr.find_all('td')
    row = [tr.text for tr in td]
    x.append(row)

<table class="table table-bordered table-hover main_table_countries dataTable no-footer" id="main_table_countries_today" style="width: 100%; margin-top: 0px !important;">
<thead>
<tr role="row"><th aria-label="#" class="sorting_disabled" colspan="1" rowspan="1" style="width: 21px;" width="1%">#</th><th aria-controls="main_table_countries_today" aria-label="Country,Other: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 100px;" tabindex="0" width="100">Country,<br/>Other</th><th aria-controls="main_table_countries_today" aria-label="TotalCases: activate to sort column ascending" aria-sort="descending" class="sorting_desc" colspan="1" rowspan="1" style="width: 64px;" tabindex="0" width="20">Total<br/>Cases</th><th aria-controls="main_table_countries_today" aria-label="NewCases: activate to sort column descending" class="sorting" colspan="1" rowspan="1" style="width: 44px;" tabindex="0" width="30">New<br/>Cases</th><th aria-controls="main_table_countries_today" aria-label="TotalDeaths: activate to sort column descending" class="sorting" colspan="1" rowspan="1" style="width: 47px;" tabindex="0" width="30">Total<br/>Deaths</th><th aria-controls="main_table_countries_today" aria-label="NewDeaths: activate to sort column descending" class="sorting" colspan="1" rowspan="1" style="width: 47px;" tabindex="0" width="30">New<br/>Deaths</th><th aria-controls="main_table_countries_today" aria-label="TotalRecovered: activate to sort column descending" class="sorting" colspan="1" rowspan="1" style="width: 72px;" tabindex="0" width="30">Total<br/>Recovered</th><th aria-controls="main_table_countries_today" aria-label="ActiveCases: activate to sort column descending" class="sorting" colspan="1" rowspan="1" style="width: 56px;" tabindex="0" width="30">Active<br/>Cases</th><th aria-controls="main_table_countries_today" aria-label="Serious,Critical: activate to sort column descending" class="sorting" colspan="1" rowspan="1" style="width: 56px;" tabindex="0" width="30">Serious,<br/>Critical</th><th aria-controls="main_table_countries_today" aria-label="Tot&amp;nbsp;Cases/1M pop: activate to sort column descending" class="sorting" colspan="1" rowspan="1" style="width: 70px;" tabindex="0" width="30">TotÂ Cases/<br/>1M pop</th><th aria-controls="main_table_countries_today" aria-label="Deaths/1M pop: activate to sort column descending" class="sorting" colspan="1" rowspan="1" style="width: 51px;" tabindex="0" width="30">Deaths/<br/>1M pop</th><th aria-controls="main_table_countries_today" aria-label="TotalTests: activate to sort column descending" class="sorting" colspan="1" rowspan="1" style="width: 65px;" tabindex="0" width="30">Total<br/>Tests</th><th aria-controls="main_table_countries_today" aria-label="Tests/
1M pop
: activate to sort column descending" class="sorting" colspan="1" rowspan="1" style="width: 49px;" tabindex="0" width="30">Tests/<br/>
<nobr>1M pop</nobr>
</th><th aria-controls="main_table_countries_today" aria-label="Population: activate to sort column descending" class="sorting" colspan="1" rowspan="1" style="width: 78px;" tabindex="0" width="30">Population</th><th aria-controls="main_table_countries_today" aria-label="Continent: activate to sort column descending" class="sorting" colspan="1" rowspan="1" style="display: none; width: 0px;" tabindex="0" width="30">Continent</th></tr>
</thead>
<tbody>
<tr class="total_row_world odd" role="row">
<td></td>
<td style="text-align:left;">World</td>
<td class="sorting_1">115,179,923</td>
<td>+257,546</td>
<td>2,556,103</td>
<td>+6,056</td>
<td>90,957,967</td>
<td>21,665,853</td>
<td>90,729</td>
<td>14,777</td>
<td>327.9</td>
<td></td>
<td></td>
<td></td>
<td data-continent="all" style="display:none">All</td>
</tr><tr class="total_row_world row_continent even" data-continent="Europe" role="row" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Europe</nobr>
</td>
<td class="sorting_1">34,313,279</td>
<td>+129,634</td>
<td>819,402</td>
<td>+3,302</td>
<td>24,014,547</td>
<td>9,479,330</td>
<td>25,642</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Europe" style="display:none;">Europe</td>
</tr><tr class="total_row_world row_continent odd" data-continent="North America" role="row" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>North America</nobr>
</td>
<td class="sorting_1">33,675,174</td>
<td>+44,121</td>
<td>763,221</td>
<td>+1,798</td>
<td>23,444,348</td>
<td>9,467,605</td>
<td>21,707</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="North America" style="display:none;">North America</td>
</tr><tr class="even" role="row" style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">1</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>
<td class="sorting_1" style="font-weight: bold; text-align:right">29,352,901</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+38,247</td>
<td style="font-weight: bold; text-align:right;">528,515 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+1,287</td>
<td style="font-weight: bold; text-align:right">19,867,821</td>
<td style="text-align:right;font-weight:bold;">8,956,565</td>
<td style="font-weight: bold; text-align:right">15,186</td>
<td style="font-weight: bold; text-align:right">88,334</td>
<td style="font-weight: bold; text-align:right">1,591</td>
<td style="font-weight: bold; text-align:right">361,525,099</td>
<td style="font-weight: bold; text-align:right">1,087,968</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/us-population/">332,293,850</a> </td>
<td data-continent="North America" style="display:none">North America</td>
</tr><tr class="total_row_world row_continent odd" data-continent="Asia" role="row" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Asia</nobr>
</td>
<td class="sorting_1">25,149,224</td>
<td>+75,527</td>
<td>399,834</td>
<td>+816</td>
<td>23,635,365</td>
<td>1,114,025</td>
<td>21,911</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Asia" style="display:none;">Asia</td>
</tr><tr class="total_row_world row_continent even" data-continent="South America" role="row" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>South America</nobr>
</td>
<td class="sorting_1">18,051,656</td>
<td>+3,888</td>
<td>468,276</td>
<td>+59</td>
<td>16,329,130</td>
<td>1,254,250</td>
<td>18,971</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="South America" style="display:none;">South America</td>
</tr><tr class="odd" role="row" style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">2</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/india/">India</a></td>
<td class="sorting_1" style="font-weight: bold; text-align:right">11,139,313</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+15,694</td>
<td style="font-weight: bold; text-align:right;">157,385 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+110</td>
<td style="font-weight: bold; text-align:right">10,810,161</td>
<td style="text-align:right;font-weight:bold;">171,767</td>
<td style="font-weight: bold; text-align:right">8,944</td>
<td style="font-weight: bold; text-align:right">8,020</td>
<td style="font-weight: bold; text-align:right">113</td>
<td style="font-weight: bold; text-align:right">217,618,057</td>
<td style="font-weight: bold; text-align:right">156,671</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/india-population/">1,389,012,340</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
</tr><tr class="even" role="row" style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">3</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/brazil/">Brazil</a></td>
<td class="sorting_1" style="font-weight: bold; text-align:right">10,589,608</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">255,836 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">9,457,100</td>
<td style="text-align:right;font-weight:bold;">876,672</td>
<td style="font-weight: bold; text-align:right">8,318</td>
<td style="font-weight: bold; text-align:right">49,585</td>
<td style="font-weight: bold; text-align:right">1,198</td>
<td style="font-weight: bold; text-align:right">28,600,000</td>
<td style="font-weight: bold; text-align:right">133,918</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/brazil-population/">213,563,946</a> </td>
<td data-continent="South America" style="display:none">South America</td>
</tr><tr class="odd" role="row" style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">4</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/russia/">Russia</a></td>
<td class="sorting_1" style="font-weight: bold; text-align:right">4,268,215</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+10,565</td>
<td style="font-weight: bold; text-align:right;">86,896 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+441</td>
<td style="font-weight: bold; text-align:right">3,838,040</td>
<td style="text-align:right;font-weight:bold;">343,279</td>
<td style="font-weight: bold; text-align:right">2,300</td>
<td style="font-weight: bold; text-align:right">29,239</td>
<td style="font-weight: bold; text-align:right">595</td>
<td style="font-weight: bold; text-align:right">111,500,000</td>
<td style="font-weight: bold; text-align:right">763,823</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/russia-population/">145,976,195</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
</tr><tr class="even" role="row" style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">5</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/uk/">UK</a></td>
<td class="sorting_1" style="font-weight: bold; text-align:right">4,188,400</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+6,391</td>
<td style="font-weight: bold; text-align:right;">123,296 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+343</td>
<td style="font-weight: bold; text-align:right">3,005,720</td>
<td style="text-align:right;font-weight:bold;">1,059,384</td>
<td style="font-weight: bold; text-align:right">1,806</td>
<td style="font-weight: bold; text-align:right">61,483</td>
<td style="font-weight: bold; text-align:right">1,810</td>
<td style="font-weight: bold; text-align:right">91,520,691</td>
<td style="font-weight: bold; text-align:right">1,343,456</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/uk-population/">68,123,305</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
</tr><tr class="total_row_world row_continent odd" data-continent="Africa" role="row" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Africa</nobr>
</td>
<td class="sorting_1">3,938,569</td>
<td>+4,361</td>
<td>104,265</td>
<td>+81</td>
<td>3,499,578</td>
<td>334,726</td>
<td>2,496</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Africa" style="display:none;">Africa</td>
</tr><tr class="even" role="row" style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">6</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/france/">France</a></td>
<td class="sorting_1" style="font-weight: bold; text-align:right">3,783,528</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+22,857</td>
<td style="font-weight: bold; text-align:right;">87,220 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+330</td>
<td style="font-weight: bold; text-align:right">259,893</td>
<td style="text-align:right;font-weight:bold;">3,436,415</td>
<td style="font-weight: bold; text-align:right">3,586</td>
<td style="font-weight: bold; text-align:right">57,879</td>
<td style="font-weight: bold; text-align:right">1,334</td>
<td style="font-weight: bold; text-align:right">53,496,344</td>
<td style="font-weight: bold; text-align:right">818,365</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/france-population/">65,369,759</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
</tr><tr class="odd" role="row" style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">7</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/spain/">Spain</a></td>
<td class="sorting_1" style="font-weight: bold; text-align:right">3,130,184</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+6,484</td>
<td style="font-weight: bold; text-align:right;">69,801 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+192</td>
<td style="font-weight: bold; text-align:right">2,722,304</td>
<td style="text-align:right;font-weight:bold;">338,079</td>
<td style="font-weight: bold; text-align:right">2,796</td>
<td style="font-weight: bold; text-align:right">66,932</td>
<td style="font-weight: bold; text-align:right">1,493</td>
<td style="font-weight: bold; text-align:right">39,313,189</td>
<td style="font-weight: bold; text-align:right">840,621</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/spain-population/">46,766,856</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
</tr><tr class="even" role="row" style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">8</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/italy/">Italy</a></td>
<td class="sorting_1" style="font-weight: bold; text-align:right">2,955,434</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+17,083</td>
<td style="font-weight: bold; text-align:right;">98,288 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+343</td>
<td style="font-weight: bold; text-align:right">2,426,150</td>
<td style="text-align:right;font-weight:bold;">430,996</td>
<td style="font-weight: bold; text-align:right">2,327</td>
<td style="font-weight: bold; text-align:right">48,929</td>
<td style="font-weight: bold; text-align:right">1,627</td>
<td style="font-weight: bold; text-align:right">40,639,503</td>
<td style="font-weight: bold; text-align:right">672,812</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/italy-population/">60,402,483</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
</tr><tr class="odd" role="row" style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">9</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/turkey/">Turkey</a></td>
<td class="sorting_1" style="font-weight: bold; text-align:right">2,723,316</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+11,837</td>
<td style="font-weight: bold; text-align:right;">28,706 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+68</td>
<td style="font-weight: bold; text-align:right">2,586,073</td>
<td style="text-align:right;font-weight:bold;">108,537</td>
<td style="font-weight: bold; text-align:right">1,227</td>
<td style="font-weight: bold; text-align:right">32,061</td>
<td style="font-weight: bold; text-align:right">338</td>
<td style="font-weight: bold; text-align:right">33,440,843</td>
<td style="font-weight: bold; text-align:right">393,693</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/turkey-population/">84,941,319</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
</tr><tr class="even" role="row" style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">10</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/germany/">Germany</a></td>
<td class="sorting_1" style="font-weight: bold; text-align:right">2,461,801</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+6,232</td>
<td style="font-weight: bold; text-align:right;">71,319 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+395</td>
<td style="font-weight: bold; text-align:right">2,264,600</td>
<td style="text-align:right;font-weight:bold;">125,882</td>
<td style="font-weight: bold; text-align:right">2,848</td>
<td style="font-weight: bold; text-align:right">29,320</td>
<td style="font-weight: bold; text-align:right">849</td>
<td style="font-weight: bold; text-align:right">43,950,029</td>
<td style="font-weight: bold; text-align:right">523,449</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/germany-population/">83,962,383</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
</tr><tr class="odd" role="row" style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">11</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/colombia/">Colombia</a></td>
<td class="sorting_1" style="font-weight: bold; text-align:right">2,255,260</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">59,866 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">2,151,633</td>
<td style="text-align:right;font-weight:bold;">43,761</td>
<td style="font-weight: bold; text-align:right">2,240</td>
<td style="font-weight: bold; text-align:right">44,011</td>
<td style="font-weight: bold; text-align:right">1,168</td>
<td style="font-weight: bold; text-align:right">11,491,151</td>
<td style="font-weight: bold; text-align:right">224,249</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/colombia-population/">51,242,817</a> </td>
<td data-continent="South America" style="display:none">South America</td>
</tr><tr class="even" role="row" style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">12</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/argentina/">Argentina</a></td>
<td class="sorting_1" style="font-weight: bold; text-align:right">2,112,023</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">52,077 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">1,911,338</td>
<td style="text-align:right;font-weight:bold;">148,608</td>
<td style="font-weight: bold; text-align:right">3,505</td>
<td style="font-weight: bold; text-align:right">46,447</td>
<td style="font-weight: bold; text-align:right">1,145</td>

In [6]:
corono_df = pd.DataFrame(x[1:], columns = ['#', 'Country,Other', 'TotalCases', 'NewCases', 'TotalDeaths',
       'NewDeaths', 'TotalRecovered', 'ActiveCases', 'Serious,Critical',
       'Tot Cases/1M pop', 'Deaths/1M pop', 'TotalTests', 'Tests/\n1M pop\n',
       'Population', 'Continent', 'A', 'B', 'C', 'D'])
corono_df.head(30)

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/\n1M pop\n,Population,Continent,A,B,C,D
0,,World,"115,179,923","+257,546","2,556,103","+6,056","90,957,967","21,665,853","90,729","14,777",327.9,,,,All,None,None,None,None
1,,\nEurope\n,"34,313,279","+129,634","819,402","+3,302","24,014,547","9,479,330","25,642",,,,,,Europe,None,None,None,None
2,,\nNorth America\n,"33,675,174","+44,121","763,221","+1,798","23,444,348","9,467,605","21,707",,,,,,North America,None,None,None,None
3,1,USA,"29,352,901","+38,247","528,515","+1,287","19,867,821","8,956,565","15,186","88,334","1,591","361,525,099","1,087,968","332,293,850",North America,None,None,None,None
4,,\nAsia\n,"25,149,224","+75,527","399,834",+816,"23,635,365","1,114,025","21,911",,,,,,Asia,None,None,None,None
5,,\nSouth America\n,"18,051,656","+3,888","468,276",+59,"16,329,130","1,254,250","18,971",,,,,,South America,None,None,None,None
6,2,India,"11,139,313","+15,694","157,385",+110,"10,810,161","171,767","8,944","8,020",113,"217,618,057","156,671","1,389,012,340",Asia,None,None,None,None
7,3,Brazil,"10,589,608",,"255,836",,"9,457,100","876,672","8,318","49,585","1,198","28,600,000","133,918","213,563,946",South America,None,None,None,None
8,4,Russia,"4,268,215","+10,565","86,896",+441,"3,838,040","343,279","2,300","29,239",595,"111,500,000","763,823","145,976,195",Europe,None,None,None,None
9,5,UK,"4,188,400","+6,391","123,296",+343,"3,005,720","1,059,384","1,806","61,483","1,810","91,520,691","1,343,456","68,123,305",Europe,None,None,None,None
10,,\nAfrica\n,"3,938,569","+4,361","104,265",+81,"3,499,578","334,726","2,496",,,,,,Africa,None,None,None,None
11,6,France,"3,783,528","+22,857","87,220",+330,"259,893","3,436,415","3,586","57,879","1,334","53,496,344","818,365","65,369,759",Europe,None,None,None,None
12,7,Spain,"3,130,184","+6,484","69,801",+192,"2,722,304","338,079","2,796","66,932","1,493","39,313,189","840,621","46,766,856",Europe,None,None,None,None
13,8,Italy,"2,955,434","+17,083","98,288",+343,"2,426,150","430,996","2,327","48,929","1,627","40,639,503","672,812","60,402,483",Europe,None,None,None,None
14,9,Turkey,"2,723,316","+11,837","28,706",+68,"2,586,073","108,537","1,227","32,061",338,"33,440,843","393,693","84,941,319",Asia,None,None,None,None
15,10,Germany,"2,461,801","+6,232","71,319",+395,"2,264,600","125,882","2,848","29,320",849,"43,950,029","523,449","83,962,383",Europe,None,None,None,None
16,11,Colombia,"2,255,260",,"59,866",,"2,151,633","43,761","2,240","44,011","1,168","11,491,151","224,249","51,242,817",South America,None,None,None,None
17,12,Argentina,"2,112,023",,"52,077",,"1,911,338","148,608","3,505","46,447","1,145","7,466,942","164,213","45,471,214",South America,None,None,None,None
18,13,Mexico,"2,089,281","+2,343","186,152",+437,"1,639,943","263,186","4,798","16,092","1,434","5,460,692","42,060","129,831,819",North America,None,None,None,None
19,14,Poland,"1,719,708","+7,937","44,008",+216,"1,438,032","237,668","1,540","45,472","1,164","9,945,404","262,974","37,818,948",Europe,None,None,None,None
20,15,Iran,"1,648,174","+8,495","60,267",+86,"1,406,845","181,062","3,738","19,458",711,"10,972,109","129,532","84,705,636",Asia,None,None,None,None
21,16,South Africa,"1,513,959",,"50,077",,"1,431,336","32,546",546,"25,315",837,"9,077,479","151,786","59,804,451",Africa,None,None,None,None
22,17,Ukraine,"1,357,470","+5,336","26,212",+162,"1,176,918","154,340",177,"31,165",602,"6,948,980","159,534","43,558,040",Europe,None,None,None,None
23,18,Indonesia,"1,347,026","+5,712","36,518",+193,"1,160,863","149,645",,"4,890",133,"10,868,049","39,457","275,443,201",Asia,None,None,None,None
24,19,Peru,"1,332,939",,"46,685",,"1,236,668","49,586","2,153","40,057","1,403","7,604,514","228,527","33,276,156",South America,None,None,None,None
25,20,Czechia,"1,252,242","+12,150","20,701",+96,"1,082,617","148,924","1,568","116,789","1,931","8,176,797","762,603","10,722,222",Europe,None,None,None,None
26,21,Netherlands,"1,096,433","+3,981","15,649",+65,N/A,N/A,540,"63,894",912,"6,970,400","406,197","17,160,136",Europe,None,None,None,None
27,22,Canada,"871,004",+971,"22,028",+11,"818,570","30,406",567,"22,944",580,"24,545,470","646,580","37,961,976",North America,None,None,None,None
28,23,Chile,"832,512","+2,742","20,684",+24,"787,700","24,128","1,683","43,303","1,076","9,455,215","491,813","19,225,214",South America,None,None,None,None
29,24,Romania,"808,040","+3,950","20,509",+106,"744,040","43,491","1,044","42,191","1,071","6,375,052","332,869","19,151,839",Europe,None,None,None,None

In [7]:
new_corona_df = corono_df.replace('\n', '', regex = True)
new_corona_df

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/\n1M pop\n,Population,Continent,A,B,C,D
0,,World,"115,179,923","+257,546","2,556,103","+6,056","90,957,967","21,665,853","90,729","14,777",327.9,,,,All,None,None,None,None
1,,Europe,"34,313,279","+129,634","819,402","+3,302","24,014,547","9,479,330","25,642",,,,,,Europe,None,None,None,None
2,,North America,"33,675,174","+44,121","763,221","+1,798","23,444,348","9,467,605","21,707",,,,,,North America,None,None,None,None
3,1,USA,"29,352,901","+38,247","528,515","+1,287","19,867,821","8,956,565","15,186","88,334","1,591","361,525,099","1,087,968","332,293,850",North America,None,None,None,None
4,,Asia,"25,149,224","+75,527","399,834",+816,"23,635,365","1,114,025","21,911",,,,,,Asia,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232,,Total:,"34,313,279","+129,634","819,402","+3,302","24,014,547","+110,388","9,479,330","25,642",,,,,,Europe,,,
233,,Total:,"3,938,569","+4,361","104,265",+81,"3,499,578","+7,384","334,726","2,496",,,,,,Africa,,,
234,,Total:,"51,300",+15,"1,090",,"34,293",,"15,917",2,,,,,,Australia/Oceania,,,
235,,Total:,721,,15,,706,,0,0,,,,,,,,,
236,,Total:,"115,179,923","+257,546","2,556,103","+6,056","90,957,967","+244,137","21,665,853","90,729","14,776.5",327.9,,,,All,,,

In [8]:
#checking to see the last part of dataset
new_corona_df.tail(10)

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/\n1M pop\n,Population,Continent,A,B,C,D
227,220,Micronesia,1,,,,1,0,,9,,,,"115,823",Australia/Oceania,None,None,None,None
228,221,Vanuatu,1,,,,1,0,,3,,470,"1,507","311,876",Australia/Oceania,None,None,None,None
229,,Total:,"33,675,174","+44,121","763,221","+1,798","23,444,348","+60,722","9,467,605","21,707",,,,,,North America,,,
230,,Total:,"25,149,224","+75,527","399,834",+816,"23,635,365","+61,498","1,114,025","21,911",,,,,,Asia,,,
231,,Total:,"18,051,656","+3,888","468,276",+59,"16,329,130","+4,138","1,254,250","18,971",,,,,,South America,,,
232,,Total:,"34,313,279","+129,634","819,402","+3,302","24,014,547","+110,388","9,479,330","25,642",,,,,,Europe,,,
233,,Total:,"3,938,569","+4,361","104,265",+81,"3,499,578","+7,384","334,726","2,496",,,,,,Africa,,,
234,,Total:,"51,300",+15,"1,090",,"34,293",,"15,917",2,,,,,,Australia/Oceania,,,
235,,Total:,721,,15,,706,,0,0,,,,,,,,,
236,,Total:,"115,179,923","+257,546","2,556,103","+6,056","90,957,967","+244,137","21,665,853","90,729","14,776.5",327.9,,,,All,,,

In [9]:
#dropping columns that are unecessa

my_list = ['Country,Other', 'TotalCases', 'NewCases', 'TotalDeaths',
       'NewDeaths', 'TotalRecovered', 'ActiveCases', 'Serious,Critical',
       'Tot Cases/1M pop', 'Deaths/1M pop', 'TotalTests', 'Tests/\n1M pop\n',
       'Population', 'Continent']
#reindexing
dropping_df = new_corona_df.reindex(columns = my_list)
dropping_df.head(30)

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/\n1M pop\n,Population,Continent
0,World,"115,179,923","+257,546","2,556,103","+6,056","90,957,967","21,665,853","90,729","14,777",327.9,,,,All
1,Europe,"34,313,279","+129,634","819,402","+3,302","24,014,547","9,479,330","25,642",,,,,,Europe
2,North America,"33,675,174","+44,121","763,221","+1,798","23,444,348","9,467,605","21,707",,,,,,North America
3,USA,"29,352,901","+38,247","528,515","+1,287","19,867,821","8,956,565","15,186","88,334","1,591","361,525,099","1,087,968","332,293,850",North America
4,Asia,"25,149,224","+75,527","399,834",+816,"23,635,365","1,114,025","21,911",,,,,,Asia
5,South America,"18,051,656","+3,888","468,276",+59,"16,329,130","1,254,250","18,971",,,,,,South America
6,India,"11,139,313","+15,694","157,385",+110,"10,810,161","171,767","8,944","8,020",113,"217,618,057","156,671","1,389,012,340",Asia
7,Brazil,"10,589,608",,"255,836",,"9,457,100","876,672","8,318","49,585","1,198","28,600,000","133,918","213,563,946",South America
8,Russia,"4,268,215","+10,565","86,896",+441,"3,838,040","343,279","2,300","29,239",595,"111,500,000","763,823","145,976,195",Europe
9,UK,"4,188,400","+6,391","123,296",+343,"3,005,720","1,059,384","1,806","61,483","1,810","91,520,691","1,343,456","68,123,305",Europe
10,Africa,"3,938,569","+4,361","104,265",+81,"3,499,578","334,726","2,496",,,,,,Africa
11,France,"3,783,528","+22,857","87,220",+330,"259,893","3,436,415","3,586","57,879","1,334","53,496,344","818,365","65,369,759",Europe
12,Spain,"3,130,184","+6,484","69,801",+192,"2,722,304","338,079","2,796","66,932","1,493","39,313,189","840,621","46,766,856",Europe
13,Italy,"2,955,434","+17,083","98,288",+343,"2,426,150","430,996","2,327","48,929","1,627","40,639,503","672,812","60,402,483",Europe
14,Turkey,"2,723,316","+11,837","28,706",+68,"2,586,073","108,537","1,227","32,061",338,"33,440,843","393,693","84,941,319",Asia
15,Germany,"2,461,801","+6,232","71,319",+395,"2,264,600","125,882","2,848","29,320",849,"43,950,029","523,449","83,962,383",Europe
16,Colombia,"2,255,260",,"59,866",,"2,151,633","43,761","2,240","44,011","1,168","11,491,151","224,249","51,242,817",South America
17,Argentina,"2,112,023",,"52,077",,"1,911,338","148,608","3,505","46,447","1,145","7,466,942","164,213","45,471,214",South America
18,Mexico,"2,089,281","+2,343","186,152",+437,"1,639,943","263,186","4,798","16,092","1,434","5,460,692","42,060","129,831,819",North America
19,Poland,"1,719,708","+7,937","44,008",+216,"1,438,032","237,668","1,540","45,472","1,164","9,945,404","262,974","37,818,948",Europe
20,Iran,"1,648,174","+8,495","60,267",+86,"1,406,845","181,062","3,738","19,458",711,"10,972,109","129,532","84,705,636",Asia
21,South Africa,"1,513,959",,"50,077",,"1,431,336","32,546",546,"25,315",837,"9,077,479","151,786","59,804,451",Africa
22,Ukraine,"1,357,470","+5,336","26,212",+162,"1,176,918","154,340",177,"31,165",602,"6,948,980","159,534","43,558,040",Europe
23,Indonesia,"1,347,026","+5,712","36,518",+193,"1,160,863","149,645",,"4,890",133,"10,868,049","39,457","275,443,201",Asia
24,Peru,"1,332,939",,"46,685",,"1,236,668","49,586","2,153","40,057","1,403","7,604,514","228,527","33,276,156",South America
25,Czechia,"1,252,242","+12,150","20,701",+96,"1,082,617","148,924","1,568","116,789","1,931","8,176,797","762,603","10,722,222",Europe
26,Netherlands,"1,096,433","+3,981","15,649",+65,N/A,N/A,540,"63,894",912,"6,970,400","406,197","17,160,136",Europe
27,Canada,"871,004",+971,"22,028",+11,"818,570","30,406",567,"22,944",580,"24,545,470","646,580","37,961,976",North America
28,Chile,"832,512","+2,742","20,684",+24,"787,700","24,128","1,683","43,303","1,076","9,455,215","491,813","19,225,214",South America
29,Romania,"808,040","+3,950","20,509",+106,"744,040","43,491","1,044","42,191","1,071","6,375,052","332,869","19,151,839",Europe

In [10]:
#dropping rows 
#only including countries and continents for final dataset.
final_df = dropping_df.drop(dropping_df.index[[0, 229, 230, 231, 232, 233, 234, 235, 236]])

In [11]:
final_df

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/\n1M pop\n,Population,Continent
1,Europe,"34,313,279","+129,634","819,402","+3,302","24,014,547","9,479,330","25,642",,,,,,Europe
2,North America,"33,675,174","+44,121","763,221","+1,798","23,444,348","9,467,605","21,707",,,,,,North America
3,USA,"29,352,901","+38,247","528,515","+1,287","19,867,821","8,956,565","15,186","88,334","1,591","361,525,099","1,087,968","332,293,850",North America
4,Asia,"25,149,224","+75,527","399,834",+816,"23,635,365","1,114,025","21,911",,,,,,Asia
5,South America,"18,051,656","+3,888","468,276",+59,"16,329,130","1,254,250","18,971",,,,,,South America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,Wallis and Futuna,9,,,,7,2,,810,,"1,202","108,220","11,107",Australia/Oceania
225,Marshall Islands,4,,,,4,0,,67,,,,"59,456",Australia/Oceania
226,Samoa,3,,,,2,1,,15,,,,"199,291",Australia/Oceania
227,Micronesia,1,,,,1,0,,9,,,,"115,823",Australia/Oceania
228,Vanuatu,1,,,,1,0,,3,,470,"1,507","311,876",Australia/Oceania

In [12]:
#checking index
final_df.tail

<bound method NDFrame.tail of          Country,Other  TotalCases  NewCases TotalDeaths NewDeaths  \
1               Europe  34,313,279  +129,634     819,402    +3,302
2        North America  33,675,174   +44,121     763,221    +1,798
3                  USA  29,352,901   +38,247    528,515     +1,287
4                 Asia  25,149,224   +75,527     399,834      +816
5        South America  18,051,656    +3,888     468,276       +59
..                 ...         ...       ...         ...       ...
224  Wallis and Futuna           9
225   Marshall Islands           4
226              Samoa           3
227         Micronesia           1
228            Vanuatu           1

    TotalRecovered ActiveCases Serious,Critical Tot Cases/1M pop  \
1       24,014,547   9,479,330           25,642
2       23,444,348   9,467,605           21,707
3       19,867,821   8,956,565           15,186           88,334
4       23,635,365   1,114,025           21,911
5       16,329,130   1,254,250           18,971
..             ...         ...              ...              ...
224              7           2                               810
225              4           0                                67
226              2           1                                15
227              1           0                                 9
228              1           0                                 3

    Deaths/1M pop   TotalTests Tests/\n1M pop\n    Population  \
1
2
3           1,591  361,525,099        1,087,968  332,293,850
4
5
..            ...          ...              ...           ...
224                      1,202          108,220       11,107
225                                                   59,456
226                                                  199,291
227                                                  115,823
228                        470            1,507      311,876

             Continent
1               Europe
2        North America
3        North America
4                 Asia
5        South America
..                 ...
224  Australia/Oceania
225  Australia/Oceania
226  Australia/Oceania
227  Australia/Oceania
228  Australia/Oceania

[228 rows x 14 columns]>

In [13]:
#csv 
final_df.to_csv("Resources/covid_final_dataset.csv")

In [ ]:
#Check tableau link